model_snapshots/
htmlcov
.idea/
__pycache__/
.*
*.pyc
#*#
*~
*.swp
[Tt]humbs.db
*.DS_Store
*.log
#  intellij PyCharm local files
misc.xml
modules.xml
pdf_trio.iml
vcs.xml
workspace.xml

!.gitlab-ci.yml
!.travis.yml
!.coveragerc
!.pylintrc

# Don't ignore this file itself
!.gitignore
